<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xzdz">


    <application
        android:name="com.MyApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize">
        <activity
            android:name="com.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--登录-->
        <activity
            android:name="com.activity.LoginMain"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <!--注册-->
        <activity
            android:name="com.activity.Registered"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <!--忘记密码-->
        <activity
            android:name="com.activity.FindPwd"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--联系客服-->
        <activity
            android:name="com.activity.ContactService"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--我的收藏-->
        <activity
            android:name="com.activity.MyCollect"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--我要定制-->
        <activity
            android:name="com.activity.MyCustome"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--我的作品-->
        <activity
            android:name="com.activity.Myworked"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--正在定制-->
        <activity
            android:name="com.activity.Customing"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--量体数据-->
        <activity
            android:name="com.activity.SpecificData"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--我的红包-->
        <activity
            android:name="com.activity.MyReam"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--设置-->
        <activity
            android:name="com.activity.Set"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--个人资料-->
        <activity
            android:name="com.activity.MyInfo"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--修改密码-->
        <activity
            android:name="com.activity.UpdatePwd"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--绑定邮箱-->
        <activity
            android:name="com.activity.BuildEmail"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--绑定手机-->
        <activity
            android:name="com.activity.Phone"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--更换手机号码-->
        <activity
            android:name="com.activity.ChangePhone"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--版型选择-->
        <activity
            android:name="com.activity.ViersonChanges"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--细节选择-->
        <activity
            android:name="com.activity.FabricChange"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--细节选择-->
        <activity
            android:name="com.activity.FabricChangeSubmit"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--面料选择-->
        <activity
            android:name="com.activity.Fabric"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--订单详情-->
        <activity
            android:name="com.activity.OrderDetails"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--预约量体-->
        <activity
            android:name="com.activity.QuantityBody"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--确认订单-->
        <activity
            android:name="com.activity.SureOrder"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--正在定制状态-->
        <activity
            android:name="com.activity.CustomingState"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--售后-提交信息-->
        <activity
            android:name="com.activity.AfterSale"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--提交信息-提交审核-->
        <activity
            android:name="com.activity.SubmitCheck"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--已失效红包-->
        <activity
            android:name="com.activity.OutMyReam"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--图片列表-->
        <activity
            android:name="com.activity.ImgFileList"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--图片列表-->
        <activity
            android:name="com.activity.ReleaseServiceImages"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--修改名称-->
        <activity
            android:name="com.activity.UpdateNameTrue"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--修改昵称-->
        <activity
            android:name="com.activity.UpdateName"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--修改手机号-->
        <activity
            android:name="com.activity.InfPhone"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--修改邮箱-->
        <activity
            android:name="com.activity.InfEmail"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--省市区-->
        <activity
            android:name="com.activity.ProviceInfoPlace"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--我的作品详情-->
        <activity
            android:name="com.activity.MyWorkDetail"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
    </application>

    <!-- alipay sdk begin -->
    <activity
        android:name="com.alipay.sdk.app.H5PayActivity"
        android:configChanges="orientation|keyboardHidden|navigation"
        android:exported="false"
        android:screenOrientation="behind"
        android:windowSoftInputMode="adjustResize|stateHidden"></activity>
    <!-- alipay sdk end -->
    <!--添加可以向外拨打电话的权限  -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--sd卡的读写权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
